.VideoSidebar {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #FFF;
}

.VideoSidebarOptions {
  padding: 20px;
  text-align: center;
}

@media only screen and (max-width: 440px) {
  .VideoSidebar {
    top: 45%;
  }
}
